.container
  %h1= t("versions.header")
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.default.table_centered_elements#SearchableTable
    %thead.thead-dark
      %tr
        %th= PaperTrail::Version.human_attribute_name(:id)
        %th= PaperTrail::Version.human_attribute_name(:name)
        %th= t "versions.action"
        %th= t "versions.created_at"
        %th= t "versions.versions"
    %tbody
      - @versions.reverse.each do |version|
        - version = VersionDecorator.decorate version
        %tr
          %td= version.item_id
          %td= version.item.name
          %td= version.event
          %td= version.created_at
          %td
            = link_to versions_path(User, version.item_id) do
              %i.fas.fa-code-branch
