.container
  %h1= t("versions.id_header") + " #{@versions.first.item.name}"
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr
        %th= PaperTrail::Version.human_attribute_name(:id)
        %th= PaperTrail::Version.human_attribute_name(:name)
        %th= t "versions.action"
        %th= t "versions.created_at"
    %tbody
      - @versions.reverse.each do |version|
        - version = VersionDecorator.decorate version
        %tr
          %td= version.item_id
          %td= version.item.name
          %td= version.event
          %td= version.created_at
