.container.index
  %h1.header= I18n.t("views.contur/customers.index.header")
  %p{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#filters", id: "filters-data-toggle"}
    %i.fas.fa-filter{:style => "cursor: pointer"}
      = I18n.t("actions.filter")
  -if params[:query]
    = render partial: "contur/customers/partials/showed_filter"
  -else
    = render partial: "contur/customers/partials/hidden_filter"
  .table_container
    %table.default.table_centered_elements
      %thead.thead-dark
        %tr
          %th= Contur::Customer.human_attribute_name(:id)
          %th= Contur::Customer.human_attribute_name(:name)
          %th= Contur::Customer.human_attribute_name(:email)
          %th= Contur::Customer.human_attribute_name(:phone_number)
          %th= Contur::Customer.human_attribute_name(:zip_code)
          %th= Contur::Customer.human_attribute_name(:street)
          %th= Contur::Customer.human_attribute_name(:tanss_number)
          %th= t "actions.actions"
      %tbody
        - @cs.decorate.each do |cr|
          %tr
            %td= cr.id
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.name if cr.name}"}
              = cr.n_a_attribute(:name)
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.email if cr.email}"}
              %span.fas.fa-envelope
              = cr.n_a_attribute(:email)
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.phone_number if cr.phone_number}"}
              %span.fas.fa-phone
              = cr.n_a_attribute(:phone_number)
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.zip_code if cr.zip_code}"}
              %span.fas.fa-map-pin
              = cr.n_a_attribute(:zip_code)
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.street if cr.street}"}
              %span.fas.fa-map-marker-alt
              = cr.n_a_attribute(:street)
            %td{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{cr.tanss_number if cr.tanss_number}"}
              %span.fas.fa-bookmark
              = cr.n_a_attribute(:tanss_number)
            %td
              = link_to contur_customer_path(cr) do
                %i.fas.fa-search{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.show", model: Contur::Customer.model_name.human, count: 1)}"}
              = link_to edit_contur_customer_path(cr) do
                %i.fas.fa-edit{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.edit", model: Contur::Customer.model_name.human, count: 1)}"}
              = link_to contur_customer_path(cr), method: :delete, data: {confirm: I18n.t("flash.delete", model: Contur::Customer.model_name.human, count: 1)} do
                %i.fas.fa-trash-alt{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.delete", model: Contur::Customer.model_name.human, count: 1)}"}
  .row.justify-content-center.pagination_buttons
    = paginate @cs
  %br
