.container.index.max
  .card_block
    %h1.header= "#{I18n.t("views.contur/customers.show.header", model: @cr.name)}"
    %ul.default_list
      =@cr.card_block_attr(:name)
      =@cr.card_block_attr(:email)
      =@cr.card_block_attr(:phone_number)
      =@cr.card_block_attr(:fax)
      =@cr.card_block_attr(:zip_code)
      =@cr.card_block_attr(:city)
      =@cr.card_block_attr(:street)
      =@cr.card_block_attr(:tanss_number)
      =@cr.card_block_attr(:website)
      =@cr.card_block_attr(:comment)
      -if @cr.server.any?
        %li
          %dl.row
            %dt.col-sm-3= Contur::Customer.human_attribute_name(:server)
            %dd.col-sm-9
              -@cr.server.each do |s|
                -server=Contur::Server.find(s.id)
                =link_to s.hostname, contur_server_path(server)
      -else
        %li
          %dl.row
            %dt.col-sm-3= Contur::Customer.human_attribute_name(:server)
            %dd.col-sm-9= "N/A"
      -if @cr.databases.any?
        %li
          %dl.row
            %dt.col-sm-3= Contur::Customer.human_attribute_name(:databases)
            %dd.col-sm-9
              -@cr.databases.each do |db|
                -database=Contur::Database.find(db.id)
                =link_to db.vm_username, contur_database_path(database)
      -else
        %li
          %dl.row
            %dt.col-sm-3= Contur::Customer.human_attribute_name(:databases)
            %dd.col-sm-9= "N/A"
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      = button_to I18n.t("actions.edit"), edit_contur_customer_path(@cr), method: :get, class: "form-control", id: "edit_customer_button"
  %br
