.container.col-sm-6.index
  %h1.header= t "views.contur/servers.new.header"
  %hr
  = simple_form_for(@server, url: contur_servers_path) do |f|
    .row.justify-content-center
      .col-sm-6
        = f.input :os_version, placeholder: Contur::Server.human_attribute_name(:os_version), as: :select, collection: Contur::Server::OS_VERSION
        = f.input :ruby_version, placeholder: Contur::Server.human_attribute_name(:ruby_version)
      .col-sm-6
        = f.input :nginx_version, placeholder: Contur::Server.human_attribute_name(:nginx_version)
        = f.input :postgres_version, placeholder: Contur::Server.human_attribute_name(:postgres_version)
    .row.justify-content-center
      .col-sm-6
        = f.input :hostname, placeholder: Contur::Server.human_attribute_name(:hostname)
      .col-sm-6
        = f.input :admin_user, placeholder: Contur::Server.human_attribute_name(:admin_user)
    .row.justify-content-center
      .col-sm-6
        = f.input :access_type, placeholder: Contur::Server.human_attribute_name(:access_type), as: :select, collection: Contur::Server::ACCESS
      .col-sm-6
        = f.association :customer, as: :select, collection: Contur::Customer.order(:name)
    .row.justify-content-center
      .col-sm-12
        = f.input :comment, placeholder: Contur::Server.human_attribute_name(:comment)
    %h2.centered= I18n.t("views.contur/servers.ssh_access")
    %hr
    .row.justify-content-center
      .col-sm-4
        = f.input :ip_address, placeholder: Contur::Server.human_attribute_name(:ip_address)
      .col-sm-4
        = f.input :ssh_port, placeholder: Contur::Server.human_attribute_name(:ssh_port)
      .col-sm-4
        = f.input :ssh_password, placeholder: Contur::Server.human_attribute_name(:ssh_password)
    .row.justify-content-center
      .col-sm-12
        = f.input :rz_access, as: :boolean, hint: "Nur Zugriff über die IP des Rechenzentrums möglich"
    %hr
    .row.justify-content-center
      .col-sm-8
        = f.submit I18n.t("actions.create"), class: "form-control"
        = link_to I18n.t("actions.back"), :back, method: :get, class: "form-control centered", id: "back_to_root_button"
  %br
