.container.index.max
  .card_block
    %h1.header= "#{I18n.t("views.contur/servers.show.header", model: @server.hostname)}"
    %ul.default_list
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:os_version)
          %dd.col-sm-9= @server.os_version
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:ruby_version)
          %dd.col-sm-9= @server.ruby_version
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:nginx_version)
          %dd.col-sm-9= @server.nginx_version
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:postgres_version)
          %dd.col-sm-9= @server.postgres_version
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:hostname)
          %dd.col-sm-9= @server.hostname
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:admin_user)
          %dd.col-sm-9= @server.admin_user
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.human_attribute_name(:access_type)
          %dd.col-sm-9= @server.access_type
      %li
        %dl.row
          %dt.col-sm-3= I18n.t("views.contur/servers.show.dbs")
          %dd.col-sm-9
            %span.fas.fa-eye.float-right{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#dbs_card_block", id: "lists-data-toggle"}
  %br#dbs_card_block.collapse
  .card_block#dbs_card_block.collapse
    %h1.header= I18n.t("views.contur/servers.show.dbs_header")
    %ul.default_list
      - @dbs.each do |db|
        %li
          %dl.row
            %dt.col-sm-3= Contur::Database.human_attribute_name(:vm_username)
            %dd.col-sm-9
              = db.vm_username
              = link_to contur_database_path(db) do
                %i.fas.fa-eye.float-right

          %dl.row
            %dt.col-sm-3= Contur::Database.human_attribute_name(:url)
            %dd.col-sm-9= db.url
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      = button_to t("actions.edit"), edit_contur_server_path(@server), method: :get, class: "form-control", id: "edit_server_button"
  %br
