.container.index.max
  .card_block
    %h1.header= "#{I18n.t("views.contur/servers.show.header", model: @server.hostname)}"
    %ul.default_list
      =@server.card_block_attr(:os_version)
      =@server.card_block_attr(:ruby_version)
      =@server.card_block_attr(:nginx_version)
      =@server.card_block_attr(:postgres_version)
      =@server.card_block_attr(:hostname)
      =@server.card_block_attr(:admin_user)
      =@server.card_block_attr(:access_type)
      =@server.card_block_attr(:comment)
      -if @server.customer.present?
        %li
          %dl.row
            %dt.col-sm-3= Contur::Server.human_attribute_name(:customer)
            %dd.col-sm-9
              -cs = Contur::Customer.find(@server.customer_id)
              =link_to cs.name, contur_customer_path(cs)
      -else
        %li
          %dl.row
            %dt.col-sm-3= Contur::Server.human_attribute_name(:customer)
            %dd.col-sm-9= "N/A"
      -if @server.databases.any?
        %li
          %dl.row
            %dt.col-sm-3= I18n.t("views.contur/servers.show.dbs")
            %dd.col-sm-9
              -@server.databases.each do |db|
                -database = Contur::Database.find(db.id)
                =link_to db.vm_username, contur_database_path(database)
      -else
        %li
          %dl.row
            %dt.col-sm-3= I18n.t("views.contur/servers.show.dbs")
            %dd.col-sm-9= "N/A"
  -if @server.ip_address.present?||@server.ssh_password.present?||@server.rz_access
    .card_block
      %h1.header= "#{I18n.t("views.contur/servers.ssh_access", model: @server.hostname)}"
      %ul.default_list
        %li
          %dl.row
            %dt.col-sm-3= Contur::Server.human_attribute_name(:ip_address)
            %dd.col-sm-9= @server.ip_address
            %dt.col-sm-3= Contur::Server.human_attribute_name(:ssh_password)
            %dd.col-sm-9= @server.ssh_password
            %dt.col-sm-3= Contur::Server.human_attribute_name(:ssh_port)
            %dd.col-sm-9= @server.ssh_port
            %dt.col-sm-3= Contur::Server.human_attribute_name(:rz_access)
            %dd.col-sm-9= @server.rz_bool
            -if @server.rz_access == true
              %dt.col-sm-3= Contur::Server.human_attribute_name(:ssh_command)
              %dd.col-sm-9= "ssh #{@server.admin_user}@#{@server.ip_address} -p #{@server.ssh_port} -L 3010:localhost:3000"
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      = button_to t("actions.edit"), edit_contur_server_path(@server), method: :get, class: "form-control", id: "edit_server_button"
  %br
