.container.show
  %h1.header= t("contur/server.show.header")
  %table.default.table_centered_elements
    %tr
      %th= Contur::Server.human_attribute_name(:os_version)
      %td= @server.os_version
    %tr
      %th= Contur::Server.human_attribute_name(:ruby_version)
      %td= @server.ruby_version
    %tr
      %th= Contur::Server.human_attribute_name(:nginx_version)
      %td= @server.nginx_version
    %tr
      %th= Contur::Server.human_attribute_name(:postgres_version)
      %td= @server.postgres_version
    %tr
      %th= Contur::Server.human_attribute_name(:hostname)
      %td= @server.hostname
    %tr
      %th= Contur::Server.human_attribute_name(:admin_user)
      %td= @server.admin_user
    %tr
      %th= Contur::Server.human_attribute_name(:access_type)
      %td= @server.access_type

  %h2.footer= t "contur/server.show.footer"
  .container.col-sm-3
    = button_to t('actions.edit'), edit_contur_server_path(@server), method: :get, class: 'form-control', id: 'edit_server_button'
    = button_to t("actions.back"), :back, method: :get, class: 'form-control', id: 'back_to_root_button'
