#sign-up-form.container
  .col-sm-offset-4.col-sm-4
    %h2= t ".header"
    = form_for(@user) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      .field
        = f.label :admin
        %br/
        = f.check_box :admin
      .actions
        = f.submit t("actions.update")
    %h3= t ".footer"
    = button_to t("actions.delete"), user_path(@user), method: :delete, data: {confirm: t("actions.confirmation")}, id: "delete_user_link_#{@user.id}"
    = button_to t("actions.back"), root_path, method: :get
