- if @user.errors.any?
  %div.alert.alert-danger.flash.alert-dismissible.fade.in
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

#sign-up-form.container
  .col-sm-offset-4.col-sm-4
    %h2 Edit
    = form_for(@user, url: update_profile_path, method: :patch) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      .field
        = f.label :current_password
        %br/
        = f.password_field :current_password
      .field
        = f.label :admin
        %br/
        = f.check_box :admin
      .actions
        = f.submit "Update"
    %h3 Delete my account
    = button_to 'Delete', user_path(@user), method: :delete, data: {confirm: "Möchten Sie den Benutzer wirklich löschen?"}, id: "delete_user_link_#{@user.id}"
    = button_to 'Back', root_path, method: :get
