.container
  %h1= t("users.index.header")
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr
        %th= User.human_attribute_name(:id)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:account_active)
        %th= t "actions.show"
        %th= t "actions.edit"
        %th= t "actions.delete"
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.email
          %td= user.decorate.active_human
          %td
            = link_to user_path(user) do
              %i.fas.fa-search
          %td
            = link_to edit_user_path(user) do
              %i.fas.fa-edit
          %td
            = link_to user_path(user), method: :delete, data: {confirm: t("flash.delete")} do
              %i.fas.fa-trash-alt
  = paginate @users
