= button_to t("users.index.create_new"), new_user_path, method: :get, class: "btn btn-default"
%h1= t("users.index.header")

.container
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr
        %th{:scope => "col"}= User.human_attribute_name(:id)
        %th{:scope => "col"}= User.human_attribute_name(:name)
        %th{:scope => "col"}= User.human_attribute_name(:email)
        %th{:scope => "col"}= User.human_attribute_name(:account_active)
        %th{:scope => "col"}= t "actions.show"
        %th{:scope => "col"}= t "actions.edit"
        %th{:scope => "col"}= t "actions.delete"
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.email
          %td= user.decorate.active_human
          %td= link_to t('actions.show'), user_path(user)
          %td= link_to t('actions.edit'), edit_user_path(user)
          %td= link_to t('actions.delete'), user_path(user), method: :delete, data: {confirm: t("flash.delete")}
  = paginate @users
