%h1#index= link_to t('.create_new'), new_user_path

.container
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t(".search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr#header_row
        %th#user_id_head{:scope => "col"}= User.human_attribute_name(:id)
        %th#user_name_head{:scope => "col"}= User.human_attribute_name(:name)
        %th#user_email_head{:scope => "col"}= User.human_attribute_name(:email)
        %th#show_header{:scope => "col"}= t "actions.show"
        %th#edit_header{:scope => "col"}= t "actions.edit"
        %th#delete_header{:scope => "col"}= t "actions.delete"
    %tbody
      - @users.each do |user|
        = render partial: "user", locals: {user: user}

  = paginate @users 
