= button_to t("users.index.create_new"), new_user_path, method: :get, class: "btn btn-default"
%h1= t("users.index.header")

.container
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr#header_row
        %th#id_head{:scope => "col"}= User.human_attribute_name(:id)
        %th#name_head{:scope => "col"}= User.human_attribute_name(:name)
        %th#email_head{:scope => "col"}= User.human_attribute_name(:email)
        %th#active_head{:scope => "col"}= User.human_attribute_name(:account_active)
        %th#show_header{:scope => "col"}= t "actions.show"
        %th#edit_header{:scope => "col"}= t "actions.edit"
        %th#delete_header{:scope => "col"}= t "actions.delete"
    %tbody
      - @users.each do |user|
        %tr#body_row
          %td= user.id
          %td= user.name
          %td= user.email
          %td= user.decorate.active_human
          %td#show_body= link_to t('actions.show'), user_path(user)
          %td#edit_body= link_to t('actions.edit'), edit_user_path(user)
          %td#delete_body= link_to t('actions.delete'), user_path(user), method: :delete, data: {confirm: t("flash.delete")}
  = paginate @users
