#sign-up-form.container
  .col-sm-offset-4.col-sm-4
    = bootstrap_form_for(@user, url: users_path) do |f|
      = f.text_field :name, placeholder: 'username', class: 'form-control'
      = f.text_field :email, placeholder: 'email', class: 'form-control'
      = f.password_field :password, placeholder: 'password', class: 'form-control'
      = f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control'
      = f.check_box :admin
      = f.submit 'Create', class: 'btn sign-up-button'
    = link_to "Back", :back
