%h1= t ".header"
#sign-up-form.container
  .col-sm-offset-4.col-sm-4
    = bootstrap_form_for(@user, url: users_path) do |f|
      = f.text_field :name, placeholder: User.human_attribute_name(:name), class: 'form-control'
      = f.text_field :email, placeholder: User.human_attribute_name(:email), class: 'form-control'
      = f.password_field :password, placeholder: User.human_attribute_name(:password), class: 'form-control'
      = f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), class: 'form-control'
      .field
        .col-sm-6
          = f.check_box :admin
        .col-sm-6
          = f.check_box :account_active
      = f.submit t('actions.create'), class: 'btn sign-up-button'
    = button_to t("actions.back"), root_path, method: :get, id: "back_to_root_button"
