.container
  .col-sm-6.col-sm-offset-3
    %h2= t "users.new.header"
    = simple_form_for(@user, url: users_path) do |f|
      = f.input :name, placeholder: User.human_attribute_name(:name)
      = f.input :email, placeholder: User.human_attribute_name(:email)
      = f.input :password, placeholder: User.human_attribute_name(:password)
      = f.input :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation)
      .field
        .col-sm-6
          = f.input :admin, as: :boolean
        .col-sm-6
          = f.input :account_active, as: :boolean
      = f.submit t("actions.create"), class: 'form-control'
    = button_to t("actions.back"), :back, method: :get, class: 'form-control'
