%h1#h1= t(".header") + " \"#{@user.name}\""
.container
  %table.table
    %thead
      %tr
        %th= User.human_attribute_name(:id)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:admin)
    %tbody
      %tr
        %th= @user.id
        %th= @user.name
        %th= @user.email
        %th= @user.admin

%h1#h2= t ".footer"
#wrapper
  = button_to t('actions.edit'), edit_user_path(@user), method: :get
  = button_to t('actions.delete'), user_path(@user), method: :delete, data: {confirm: t("actions.confirmation")}
  = button_to t('actions.back'), users_path(@user), method: :get
