%h1= t("users.show.header") + " \"#{@user.name}\""
.container
  %table.table
    %thead
      %tr
        %th= User.human_attribute_name(:id)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:admin)
        %th= User.human_attribute_name(:account_active)
    %tbody
      %tr
        %td= @user.id
        %td= @user.name
        %td= @user.email
        %td= @user.decorate.admin_human
        %td= @user.decorate.active_human

%h1= t "users.show.footer"
.buttons
  .col-sm-2.col-sm-offset-5
    = button_to t('actions.edit'), edit_user_path(@user), method: :get, class: 'form-control'
    = button_to t("actions.back"), :back, method: :get, class: 'form-control'
