.container.index.max
  .card_block
    -if current_user.admin?
      -if current_user == @user
        = render partial: "users/partials/show_as_admin_current", locals: {user: @user}
      -else
        = render partial: "users/partials/show_as_admin", locals: {user: @user}
    -else
      = render partial: "users/partials/show_as_default", locals: {user: @user}
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      -if current_user.admin?
        = button_to t("actions.edit"), edit_user_path(@user), method: :get, class: "form-control", id: "edit_user_button"
      -else
        = button_to t("actions.edit"), edit_profile_path(current_user), method: :get, class: "form-control", id: "edit_user_button"
