%h1#h1= t(".header") + " \"#{@user.name}\""
.container
  %table.table
    %thead
      %tr#header_row
        %th#user_id_head= User.human_attribute_name(:id)
        %th#user_name_head= User.human_attribute_name(:name)
        %th#user_email_head= User.human_attribute_name(:email)
        %th#user_admin_head= User.human_attribute_name(:admin)
    %tbody
      %tr#body_row
        %td= @user.id
        %td= @user.name
        %td= @user.email
        %td= @user.admin

%h1#h2= t ".footer"
#wrapper
  = button_to t('actions.edit'), edit_user_path(@user), method: :get, id: "edit_user_button"
  = button_to t('actions.back'), root_path, method: :get, id: "back_to_root_button"
