%h1#h1
  Profile of "#{@user.name}"

.container
  %table.table
    %thead
      %tr
        %th ID
        %th Name
        %th E-Mail
        %th Admin
    %tbody
      %tr
        %th= @user.id
        %th= @user.name
        %th= @user.email
        %th= @user.admin

%h1#h2 Edit / Delete this account
#wrapper
  = button_to 'Edit', edit_user_path(@user), method: :get
  = button_to 'Delete', user_path(@user), method: :delete, data: {confirm: "Möchten Sie den Benutzer wirklich löschen?"}, id: "delete_user_link_#{@user.id}"
  = button_to 'Back', users_path(@user), method: :get
