%h1= t(".header")

.container
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr#header_row
        %th#user_id_head{:scope => "col"}= User.human_attribute_name(:id)
        %th#user_name_head{:scope => "col"}= User.human_attribute_name(:name)
        %th#show_header{:scope => "col"}= t ".action"
        %th#show_header{:scope => "col"}= t ".created_at"
        %th#show_header{:scope => "col"}= t "actions.show"
    %tbody
      - @users.each do |user|
        %tr.user_row{id: dom_id(user)}
          %td#user_id_body= user.id
          %td#user_name_body= user.name
          %td#user_version_body= user.versions.last.event
          %td#user_version_body= user.decorate.created_at(user)
          %td#show_body= link_to t('actions.show'), user_path(user)
  = paginate @users
