.container.index
  %h1.header= I18n.t("views.contur/databases.index.header")
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => I18n.t("actions.search"), :type => "text"}/
  .table_container
    %table.default.table_centered_elements#SearchableTable
      %thead.thead-dark
        %tr
          %th= Contur::Database.human_attribute_name(:id)
          %th= Contur::Database.human_attribute_name(:url)
          %th= t "actions.show"
          %th= t "actions.edit"
          %th= t "actions.delete"
      %tbody
        - @dbs.each do |db|
          %tr
            %td= db.id
            %td
              %span.fas.fa-globe-europe{"data-target" => "#urlModal", "data-toggle" => "modal"}
            %td
              = link_to contur_database_path(db) do
                %i.fas.fa-search{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.show", model: Contur::Database.model_name.human, count: 1)}"}
            %td
              = link_to edit_contur_database_path(db) do
                %i.fas.fa-edit{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.edit", model: Contur::Database.model_name.human, count: 1)}"}
            %td
              = link_to contur_database_path(db), method: :delete, data: {confirm:  "#{I18n.t("flash.delete", model: Contur::Database.model_name.human, count: 2)}"} do
                %i.fas.fa-trash-alt{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.delete", model: Contur::Database.model_name.human, count: 1)}"}
            / Modal
            #urlModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content
                  .modal-header
                    %h5#exampleModalLabel.modal-title= Contur::Database.human_attribute_name(:url)
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    = db.url
                  .modal-footer
                    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

  .row.justify-content-center.pagination_buttons
    = paginate @dbs
