.container.index
  %h1.header= I18n.t("views.contur/databases.index.header")
  %p{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#filters", id: "filters-data-toggle"}
    %i.fas.fa-filter{:style => "cursor: pointer"}
      = I18n.t("actions.filter")
  -if params[:query]
    = render partial: "contur/databases/partials/showed_filter"
  -else
    = render partial: "contur/databases/partials/hidden_filter"
  .table_container
    %table.default.table_centered_elements
      %thead.thead-dark
        %tr
          %th= Contur::Database.human_attribute_name(:id)
          %th= Contur::Database.human_attribute_name(:vm_username)
          %th= Contur::Database.human_attribute_name(:server_id)
          %th= Contur::Database.human_attribute_name(:url)
          %th= t "actions.show"
          %th= t "actions.edit"
          %th= t "actions.delete"
      %tbody
        - @dbs.each do |db|
          %tr
            %td= db.id
            %td= db.vm_username
            %td
              %span.fas.fa-server
              - server = Contur::Server.find(db.server_id)
              = link_to server.hostname, contur_server_path(server), method: :get
            %td
              %span.fas.fa-globe
              = db.url
            %td
              = link_to contur_database_path(db) do
                %i.fas.fa-search{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.show", model: Contur::Database.model_name.human, count: 1)}"}
            %td
              = link_to edit_contur_database_path(db) do
                %i.fas.fa-edit{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.edit", model: Contur::Database.model_name.human, count: 1)}"}
            %td
              = link_to contur_database_path(db), method: :delete, data: {confirm:  "#{I18n.t("flash.delete", model: Contur::Database.model_name.human, count: 2)}"} do
                %i.fas.fa-trash-alt{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "#{I18n.t("tooltips.delete", model: Contur::Database.model_name.human, count: 1)}"}
  .row.justify-content-center.pagination_buttons
    = paginate @dbs
