.container.index.max
  .card_block
    %h1.header= I18n.t("views.contur/databases.show.header")
    %ul.default_list
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:url)
          %dd.col-sm-9= @db.url
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:vm_username)
          %dd.col-sm-9= @db.vm_username
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:github_branch)
          %dd.col-sm-9= @db.github_branch
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:contur_type)
          %dd.col-sm-9= @db.contur_type
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:server_id)
          %dd.col-sm-9= link_to @db.server.hostname, contur_server_path(@db.server), method: :get
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:starts_at)
          %dd.col-sm-9= @db.starts_at
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:ends_at)
          %dd.col-sm-9= @db.ends_at
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      = button_to I18n.t("actions.edit"), edit_contur_database_path(@db), method: :get, class: "form-control", id: "edit_database_button"
  %br
