.container
  %h1= t("contur/database.show.header")
  %table.default.table_centered_elements
    %tr
      %th= Contur::Database.human_attribute_name(:url)
      %td= @db.url
    %tr
      %th= Contur::Database.human_attribute_name(:vm_username)
      %td= @db.vm_username
    %tr
      %th= Contur::Database.human_attribute_name(:github_branch)
      %td= @db.github_branch
    %tr
      %th= Contur::Database.human_attribute_name(:contur_type)
      %td= @db.contur_type
    %tr
      %th= Contur::Database.human_attribute_name(:service_id)
      %td= @db.service_id
    %tr
      %th= Contur::Database.human_attribute_name(:starts_at)
      %td= @db.starts_at
    %tr
      %th= Contur::Database.human_attribute_name(:ends_at)
      %td= @db.ends_at

  %h2= t "contur/database.show.footer"
  .container.col-sm-3
    = button_to t('actions.edit'), edit_contur_database_path(@db), method: :get, class: 'form-control', id: 'edit_database_button'
    = button_to t("actions.back"), :back, method: :get, class: 'form-control', id: 'back_to_root_button'
