.container.index.max
  .card_block
    %h1.header= I18n.t("views.contur/databases.show.header")
    %ul.default_list
      =@db.card_block_attr(:url)
      =@db.card_block_attr(:vm_username)
      =@db.card_block_attr(:contur_type)
      %li
        %dl.row
          %dt.col-sm-3= Contur::Database.human_attribute_name(:github_branch)
          %dd.col-sm-9= link_to @db.github_branch, "https://github.com/Sektor-N/contur/tree/#{@db.github_branch}"
      %li
        %dl.row
          %dt.col-sm-3= Contur::Server.model_name.human
          %dd.col-sm-9
            - server = @db.server
            = link_to server.hostname, contur_server_path(server), method: :get
      %li
        %dl.row
          %dt.col-sm-3= Contur::Customer.model_name.human
          %dd.col-sm-9
            - cs = @db.server.customer
            = link_to cs.name, contur_customer_path(cs), method: :get
      =@db.card_block_attr(:starts_at)
      =@db.card_block_attr(:ends_at)
  %br
  .row.justify-content-center
    .col-sm-4
      = button_to I18n.t("actions.back"), :back, method: :get, class: "form-control", id: "back_to_root_button"
    .col-sm-4
      = button_to I18n.t("actions.edit"), edit_contur_database_path(@db), method: :get, class: "form-control", id: "edit_database_button"
  %br
