- if !params[:item_id]
  = button_to t("versions.versioning"), user_versions_path(current_user.id), method: :get, class: "btn btn-default"
%h1= t("versions.header")

.container
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => t("actions.search"), :type => "text"}/
  %table.table#SearchableTable
    %thead.thead-dark
      %tr
        %th{:scope => "col"}= PaperTrail::Version.human_attribute_name(:id)
        %th{:scope => "col"}= PaperTrail::Version.human_attribute_name(:name)
        %th{:scope => "col"}= t "versions.action"
        %th{:scope => "col"}= t "versions.created_at"
        - if !params[:item_id]
          %th{:scope => "col"}= t "versions.versions"
    %tbody
      - @versions.reverse.each do |version|
        - version = VersionDecorator.decorate version
        %tr
          %td= version.item_id
          %td= version.item.name
          %td= version.event
          %td= version.created_at
          - if !params[:item_id]
            %td= link_to t('versions.versions'), versions_path(User, version.item_id)
