.container
  %h1= I18n.t("views.versions.header")
  %input#SearchInput{:onkeyup => "SearchFunction()", :placeholder => I18n.t("actions.search"), :type => "text"}/
  %table.default.table_centered_elements#SearchableTable
    %thead.thead-dark
      %tr
        %th= User.human_attribute_name(:id)
        %th= User.human_attribute_name(:name)
        %th= I18n.t("versions.action")
        %th= I18n.t("versions.created_at")
    %tbody
      - @versions.reverse.each do |version|
        - version = VersionDecorator.decorate version
        %tr
          %td= version.item_id
          %td= version.item.name
          %td= version.event
          %td= version.created_at

  .row.justify-content-center.pagination_buttons
    = paginate @versions
