.container
  .row
    .col-sm-6.col-sm-offset-3
      %h2.text-center= t ".login"
      = bootstrap_form_for(resource,as: resource_name, url: session_path(resource_name)) do |f| |
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: User.human_attribute_name(:email)
        = f.password_field  :password, autocomplete: "off", class: 'form-control', placeholder: User.human_attribute_name(:password)
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        = f.submit t "actions.login", class: 'form-control login-button'
