#filters.collapse.form-group
  = simple_form_for :query, method: :get do |f|
    .row.justify-content-center
      .col-sm-4
        = f.input :id, label: Contur::Database.human_attribute_name(:id), required: false
      .col-sm-4
        = f.input :service_id, label: Contur::Database.human_attribute_name(:service_id), required: false
    .row.justify-content-center
      .col-sm-4
        = f.input :vm_username, label: Contur::Database.human_attribute_name(:vm_username), required: false
      .col-sm-4
        = f.input :github_branch, label: Contur::Database.human_attribute_name(:github_branch), required: false
    .row.justify-content-center
      .col-sm-4
        = f.input :url, label: Contur::Database.human_attribute_name(:url), required: false
      .col-sm-4
        = f.input :contur_type, label: Contur::Database.human_attribute_name(:contur_type), as: :select, collection: Contur::Database::ANPASSUNGEN, required: false
    .row.justify-content-center
      .col-sm-4
        = f.submit I18n.t("actions.filter"), class: "form-control"
      .col-sm-4
        = button_to I18n.t("actions.reset_filter"), contur_databases_path, method: :get, class: "form-control"
