%nav#sidebar
  .row
    .sidebar-header
      %h3 UserManagement
    #dismiss
      %i.fas.fa-arrow-left
  %ul.list-unstyled.components
    %li
      = link_to root_path do
        = t('sidebar.home')
        %i.fas.fa-home
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#manageSubmenu", id: "lists-data-toggle"}
        = t("sidebar.manage")
        %span.fas.fa-angle-down
      %ul#manageSubmenu.collapse.list-unstyled
        %li
          = link_to active_users_path do
            = t('sidebar.active_users')
            %i.fas.fa-users
        %li
          = link_to new_user_path do
            = t('sidebar.users_new')
            %i.fas.fa-user
            %i.fas.fa-plus
        %li
          = link_to new_contur_server_path do
            = t('sidebar.servers_new')
            %i.fas.fa-server
            %i.fas.fa-plus
        %li
          = link_to new_contur_database_path(User) do
            = t('sidebar.databases_new')
            %i.fas.fa-database
            %i.fas.fa-plus
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#listsSubmenu", id: "lists-data-toggle"}
        = t("sidebar.lists")
        %span.fas.fa-angle-down
      %ul#listsSubmenu.collapse.list-unstyled
        %li
          = link_to users_path do
            = t('sidebar.users')
            %i.fas.fa-user
        %li
          = link_to versions_path(User) do
            = t('sidebar.versions')
            %i.fas.fa-code-branch
        %li
          = link_to contur_databases_path do
            = t('sidebar.databases')
            %i.fas.fa-database
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#accSubmenu", id: "acc-data-toggle"}
        = t("sidebar.account")
        %span.fas.fa-angle-down
      %ul#accSubmenu.collapse.list-unstyled
        %li
          = link_to user_path(current_user) do
            = t('sidebar.info')
            %i.fas.fa-info
        %li
          = link_to edit_profile_path(current_user) do
            = t('sidebar.edit')
            %i.fas.fa-edit
        %li
          = link_to admin_root_path do
            = t('sidebar.admin')
            %i.fas.fa-toolbox
    %li
      = link_to destroy_user_session_path, method: :delete, data: {confirm: t("flash.logout")} do
        = t('sidebar.logout')
        %i.fas.fa-sign-out-alt
