/ Sidebar
%nav#sidebar
  #dismiss
    %i.fas.fa-arrow-left
  .sidebar-header
    = link_to t('general.title'), root_path
  %ul.list-unstyled.components
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#listsSubmenu"}
        = t("sidebar.lists")
        %span.fas.fa-angle-down
      %ul#listsSubmenu.collapse.list-unstyled
        %li
          = link_to users_path do
            = t('sidebar.users')
            %i.fas.fa-user
        %li
          = link_to versions_path(User) do
            = t('sidebar.versions')
            %i.fas.fa-code-branch
        %li
          = link_to contur_databases_path do
            = t('sidebar.databases')
            %i.fas.fa-database
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#accSubmenu"}
        = t("sidebar.account")
        %span.fas.fa-angle-down
      %ul#accSubmenu.collapse.list-unstyled
        %li
          = link_to user_path(current_user) do
            = t('sidebar.info')
            %i.fas.fa-info
        %li
          = link_to edit_profile_path(current_user) do
            = t('sidebar.edit')
            %i.fas.fa-edit
        %li
          = link_to admin_root_path do
            = t('sidebar.admin')
            %i.fas.fa-toolbox
    %li
      = link_to destroy_user_session_path, method: :delete, data: {confirm: t("flash.logout")} do
        = t('sidebar.logout')
        %i.fas.fa-sign-out-alt
