/ Sidebar
%nav#sidebar
  #dismiss
    %i.fas.fa-arrow-left
  .sidebar-header
    = link_to t('general.title'), root_path
  %ul.list-unstyled.components
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#listsSubmenu"}
        = t("sidebar.lists")
        %span.fas.fa-angle-down
      %ul#listsSubmenu.collapse.list-unstyled
        %li
          = link_to t('sidebar.users'), users_path
        %li
          = link_to t('sidebar.versions'), versions_path(User)
        %li
          = link_to t('sidebar.databases'), contur_databases_path
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#accSubmenu"}
        = t("sidebar.account")
        %span.fas.fa-angle-down
      %ul#accSubmenu.collapse.list-unstyled
        %li
          = link_to t('sidebar.info'), user_path(current_user)
        %li
          = link_to t('sidebar.edit'), edit_profile_path(current_user)
        %li
          = link_to t('sidebar.admin'), admin_root_path
    %li
      = link_to t('sidebar.logout'), destroy_user_session_path, method: :delete, data: {confirm: t("flash.logout")}
