%nav#sidebar
  #dismiss
    %i.fas.fa-arrow-left
  .sidebar-header
    %h3 UserManagement
  %ul.list-unstyled.components
    %li
      = link_to user_path(current_user) do
        = t('sidebar.actions.info')
        %i.fas.fa-info
    %li
      = link_to edit_profile_path(current_user) do
        = t('sidebar.actions.edit')
        %i.fas.fa-edit
    %li
      = link_to destroy_user_session_path, method: :delete, data: {confirm: t("flash.logout")} do
        = t('sidebar.logout')
        %i.fas.fa-sign-out-alt
