- if !user_signed_in?
  %h1= t ".welcome"
  = button_to t("actions.login"), login_path, method: :get
- else
  %h1= t ".header"

  .container
    %table.table
      %thead.thead-dark
        %tr
          %th{:scope => "col"}= User.human_attribute_name(:id)
          %th{:scope => "col"}= User.human_attribute_name(:name)
          %th{:scope => "col"}= User.human_attribute_name(:email)
          %th{:scope => "col"}= t "actions.show"
      %tbody
        - @users = User.order created_at: :desc
        - @users[0..10].each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= user.email
            %td= link_to t('actions.show'), user_path(user)
