!!!
%html
  %head
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :integrity => "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", :rel => "stylesheet"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title UserManagement
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  .overlay
  %body#wrapper
    -if user_signed_in?
      = render 'layouts/sidebar'
      #page-content-wrapper
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            %button#sidebarCollapse.btn.btn-info{:type => "button"}
              %i.fas.fa-bars.fa-2x
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-#{flash_error_key(key)} flash alert-dismissible fade in #{flash_error_key(key)}"
        = yield
    -else
      #page-content-wrapper
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-#{flash_error_key(key)} flash alert-dismissible fade in #{flash_error_key(key)}"
        = yield
